Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.1.1
email-validator==2.1.0.post1
gunicorn==21.2.0
fpdf==1.7.2
numpy==1.24.4
scipy==1.10.1
opencv-python==4.8.0.76
sounddevice==0.4.6
mss==7.0.1
python-3.11.9
